name: COLMAP (Windows)

on:
  workflow_dispatch: # allows manual triggering
    inputs:
      create_release:
        description: 'Create new release'
        required: true
        type: boolean

jobs:
  build:
    name: ${{ matrix.config.os }} ${{ matrix.config.cmakeBuildType }} ${{ matrix.config.cudaEnabled && 'CUDA' || '' }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config: [
          {
            os: windows-2022,
            cmakeBuildType: Release,
            cudaEnabled: true,
            testsEnabled: true,
            exportPackage: true,
          },
        ]

    env:
      COMPILER_CACHE_VERSION: 1
      COMPILER_CACHE_DIR: ${{ github.workspace }}/compiler-cache
      CCACHE_DIR: ${{ github.workspace }}/compiler-cache/ccache
      CCACHE_BASEDIR: ${{ github.workspace }}
      VCPKG_COMMIT_ID: e01906b2ba7e645a76ee021a19de616edc98d29f
      VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'


      - name: Install CUDA
        uses: Jimver/cuda-toolkit@v0.2.16
        if: matrix.config.cudaEnabled
        id: cuda-toolkit
        with:
          cuda: '12.5.0'
          sub-packages: '["nvcc", "nvtx", "cudart", "curand", "curand_dev", "nvrtc_dev"]'
          method: 'network'

      - name: Install CMake and Ninja
        uses: lukka/get-cmake@latest

      - name: Setup vcpkg
        shell: pwsh
        run: |
          ./scripts/shell/enter_vs_dev_shell.ps1
          cd ${{ github.workspace }}
          git clone https://github.com/microsoft/vcpkg
          cd vcpkg
          git reset --hard ${{ env.VCPKG_COMMIT_ID }}
          ./bootstrap-vcpkg.bat

      - name: Configure and build
        shell: pwsh
        run: |
          ./scripts/shell/enter_vs_dev_shell.ps1
          cd ${{ github.workspace }}
          ./vcpkg/vcpkg.exe integrate install
          mkdir build
          cd build
          cmake .. `
            -GNinja `
            -DCMAKE_MAKE_PROGRAM=ninja `
            -DCMAKE_BUILD_TYPE=Release `
            -DTESTS_ENABLED=${{ matrix.config.testsEnabled }} `
            -DGUI_ENABLED=ON `
            -DCUDA_ENABLED=${{ matrix.config.cudaEnabled }} `
            -DCMAKE_CUDA_ARCHITECTURES=all-major `
            -DCUDAToolkit_ROOT="${{ steps.cuda-toolkit.outputs.CUDA_PATH }}" `
            -DCMAKE_TOOLCHAIN_FILE="${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake" `
            -DVCPKG_TARGET_TRIPLET=x64-windows-release `
            -DCMAKE_INSTALL_PREFIX=install
          ninja

      - name: Export package
        if: matrix.config.exportPackage
        shell: pwsh
        run: |
          ./vcpkg/vcpkg.exe integrate install

          cd build
          ninja install

          ../vcpkg/vcpkg.exe install `
              --triplet=x64-windows-release `
              --x-feature=gui `
              --x-feature=cgal `
              $(if ($${{ matrix.config.testsEnabled }}) { echo "--x-feature=tests" }) `
              $(if ($${{ matrix.config.cudaEnabled }}) { echo "--x-feature=cuda" })
          ../vcpkg/vcpkg.exe export --raw --output-dir vcpkg_export --output colmap
          cp vcpkg_export/colmap/installed/x64-windows/bin/*.dll install/bin
          cp vcpkg_export/colmap/installed/x64-windows-release/bin/*.dll install/bin
          cp -r vcpkg_export/colmap/installed/x64-windows/plugins install
          if ($${{ matrix.config.cudaEnabled }}) {
              cp "${{ steps.cuda-toolkit.outputs.CUDA_PATH }}/bin/cudart64_*.dll" install/bin
              cp "${{ steps.cuda-toolkit.outputs.CUDA_PATH }}/bin/curand64_*.dll" install/bin
          }
          Remove-Item -Recurse -Force install/include,install/lib,install/share

      - name: Upload package
        uses: actions/upload-artifact@v4
        if: ${{ matrix.config.exportPackage && matrix.config.cudaEnabled }}
        with:
          name: colmap-x64-windows-cuda
          path: build/install

      - name: Upload package
        uses: actions/upload-artifact@v4
        if: ${{ matrix.config.exportPackage && !matrix.config.cudaEnabled }}
        with:
          name: colmap-x64-windows-nocuda
          path: build/install

      - name: Cleanup compiler cache
        shell: pwsh
        run: |
          ccache --show-stats --verbose
          ccache --evict-older-than 1d
          ccache --show-stats --verbose
